<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Appender para consola en formato JSON -->
    <appender name="CONSOLE_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdc>true</includeMdc>
            <!-- Opcional: renombrar campos predeterminados si lo deseas -->
            <fieldNames>
                <timestamp>timestamp</timestamp>
                <level>level</level>
                <thread>thread</thread>
                <logger>logger</logger>
                <message>message</message>
            </fieldNames>
        </encoder>
    </appender>

    <!-- Configuración para el entorno de Kubernetes o perfil activo -->
    <root level="INFO">
        <appender-ref ref="CONSOLE_JSON" />
    </root>
</configuration>